@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #fff;
  background: #1B1A20;
  color: #171717;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
